@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    background: #ffffff;
}
/* Login Page Styling */
#app .navbar {
    display: none;
}
#app .text-center.mt-5 {
    /* max-width: 540px;
    width: 100%;
    margin: auto;
    margin-top: 50px !important;
    padding: 0 15px;
    text-align: left !important;
    margin-bottom: 0 !important; */
    margin-top: unset !important;
    margin-bottom: unset !important;
}
#app .text-center.mt-5 img {
    /* max-width: 215px;
    margin-bottom: 70px; */
    width: 200px;
    height: 154px;
}
a.text-center.d-block{
    height: 179px;
}
#app .py-4 {
    padding: 0 !important;
}
#app .py-4 .container {
    max-width: 400px;
    width: 100%;
    /* margin: auto; */
    padding: 5% 2rem 1rem 2rem;
    margin: 0 auto 2rem auto;
    overflow: hidden;
}
#app .py-4 .container .row {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
}
#app .py-4 .container .row .col-md-8 {
    flex: 100%;
    max-width: 100%;
    padding: 0;
    padding-top: 16px;
}
#app .py-4 .container .row .col-md-8 .card {
    /* border: 0;
    border-radius: 0; */
    border: 0;
    padding: 16px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 336px;
    height: 493px;
}
#app .py-4 .container .row .col-md-8 .card-header:first-child {
    border-radius: 0;
    border: 0;
}
#app .py-4 .container .row .col-md-8 .card-header {
    /* background: #ffffff; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left !important;
    padding: 0;
    background: transparent;
    text-align: center !important;
}
#app .py-4 .container .row .col-md-8 .card-header h4 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 7px !important;
    /* border-bottom: 2px solid #333; */
    display: inline-block;
}
#app .py-4 .container .row .col-md-8 .card-body {
    padding: 0;
}
#app .py-4 .container .row .col-md-8 .card-body form label {
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0.5rem;
    margin-left: 10px;
}
#app .py-4 .container .row .col-md-8 .card-body form .col-md-6 {
    max-width: 100%;
    flex: 100%;
    padding: 0;
    margin: 0;
}
#app .py-4 .container .row .col-md-8 .card-body form input {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 9px 17px;
    border-radius: 40px;
}
#app .py-4 .container .row .col-md-8 .card-body form .row.mb-3 {
    margin-bottom: 18px !important;
}
#app .py-4 .container .row .col-md-8 .card-body form .mb-0 .col-md-8 {
    margin: 0;
    flex: 100%;
    max-width: 100%;
    padding: 0 0 0 0 !important;
    position: relative;
}
#app .py-4 .container .row .col-md-8 .card-body form .row.mb-3 p {
    text-align: center;
    margin: 0;
}
#rcaptcha {
    position: relative;
    top: -18px;
}
#app
    .py-4
    .container
    .row
    .col-md-8
    .card-body
    form
    .row.mb-3
    p
    a.btn.btn-link {
    color: #24b183;
    cursor: pointer;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 22px auto 29px;
    max-width: -webkit-max-content;
    max-width: max-content;
    text-align: center;
}
#app .py-4 .container .row .col-md-8 .card-body form .mb-0 .col-md-8 button,
#app .py-4 .container .row .col-md-8 .card-body form .mb-0 .col-md-6 button {
    width: max-content;
    height: 40px;
    margin-top: 8px;
    background-color: #c1c1c1;
    border-color: #c1c1c1;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 50px;
    padding: 0px 20px;
    opacity: 1;
    outline: none;
    box-shadow: none;
    transition: all 0.5s;
}
#app
    .py-4
    .container
    .row
    .col-md-8
    .card-body
    form
    .mb-0
    .col-md-8
    button:hover,
#app
    .py-4
    .container
    .row
    .col-md-8
    .card-body
    form
    .mb-0
    .col-md-6
    button:hover {
    background-color: #c1c1c1;
    border-color: #c1c1c1;
    transition: all 0.5s;
}
/* Forget Password Page Styling */
@media (min-width: 0) and (max-width: 767.98px) {
    #rcaptcha {
        position: relative;
        top: -14px;
    }
}
input[type="text"] {
    border-radius: 40px;
}

.error-invalid{
    position: relative;
}
#app .py-4 .container .row .col-md-8 .card-body form .error-invalid label{
    position: absolute;
    width: 100%;
    font-size: 12px ;
    left: 0;
}
